<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraIntro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B3C569C1D3688F10051DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3C56B01D3688F10051DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3C56BB1D3688F10051DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
